* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms;
}
body {
  background-color: var(--main-bg);
  height: 100vh;
}
:root {
  --main-bg: #e4ecf0;
}
.how-to {
  border: 1px;
  max-width: 200px;
  margin-top: 20px;
}
.how-to > p {
  margin: 12px auto;
}
.how-to > h1 {
  font-size: 18px;
  color: white;
  /* -webkit-text-stroke: 1px black; */
  box-shadow: 1px 1px 5px black;
  padding: 1rem;
}
.links {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.home {
  margin: 50px auto;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.link:hover {
  background-color: white;
  color: black;
  box-shadow: inset 1px 1px 5px gray;
  cursor: pointer;
}
.container {
  text-decoration: none;
  max-width: 800px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 110px auto;
}
.wrapper {
  margin: 90px auto;
}
input {
  padding: 1rem;
  text-align: end;
  border-radius: 10px;
  width: 185px;
  margin: 5px auto;
  color: #6c0e0e;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 1px 1px 5px black;
  border: none;
}
.count {
  font-size: 50px;
  color: #6c0e0e;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reducer {
  max-width: 185px;
  width: 100%;
  margin: 20px auto;
  border-radius: 6px;
  background-color: white;
  color: #6c0e0e;
  box-shadow: inset 1px 1px 5px black;
}
.four {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
}
.box{
  position: relative;
  top:300%;
  width: 400px;
  height: 50px;
  background-color:white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box::after{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent,
  transparent, transparent,#6c0e0e);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
.box span{
  position: absolute;
  inset: 5px;
  background-color:white;
  border-radius: 16px;
  z-index: 1;

}
.box h3{
  color:black;
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box::before{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent,
  transparent, transparent, black);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
